{{> header}}

                <img src="https://mymodernmet.com/wp/wp-content/uploads/2019/10/artemisia-gentileschi-paintings-2.jpg" alt="First Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3>SUSANA Y LOS VIEJOS (1610)</h3>
                    <p>​</p>
                </div>
            </div>
            
           <div class="carousel-item">
                <img src="https://mymodernmet.com/wp/wp-content/uploads/2019/10/artemisia-gentileschi-paintings-4.jpg" class="img-fluid" alt="Second Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>JUDITH DECAPITANDO A HOLOFERNES (1614-1620)</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://mymodernmet.com/wp/wp-content/uploads/2019/10/artemisia-gentileschi-paintings-3.jpg" class="img-fluid" alt="Third Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>JUDITH Y SU SIRVIENTA (1625)</h3>
                    <p></p>
                </div>
            </div>

             <div class="carousel-item">
                <img src="https://mymodernmet.com/wp/wp-content/uploads/2019/10/artemisia-gentileschi-paintings-7.jpg" class="img-fluid" alt="Fourth Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3>LUCRECIA (1625)</h3>
                    <p></p>
                </div>
            </div>
            
               <div class="carousel-item">
                <img src="https://mymodernmet.com/wp/wp-content/uploads/2019/10/artemisia-gentileschi-paintings-6.jpg" class="img-fluid" alt="Third Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3>AUTORRETRATO COMO ALEGORÍA DE LA PINTURA (1638-1639)</h3>
                    
{{> navbar}}