{{> header}}

            <img src="https://img.culturacolectiva.com/cdn-cgi/image/f=auto,w=auto,q=80,fit=contain/content/2018/09/18/1537308780649/pinturas-frida-kahlo-el-camion-medium.jpg" alt="First Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3>El autobús (1929)</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://img.culturacolectiva.com/cdn-cgi/image/f=auto,w=auto,q=80,fit=contain/content/2018/09/18/1537308870552/pinturas-frida-kahlo-autorretrato-traje-de-terciopelo-medium.jpg" class="img-fluid" alt="Second Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>Autorretrato con traje de terciopelo (1926)</h3>
                    <p></p>
                </div>
            </div>

         <div class="carousel-item">
                <img src="https://img.culturacolectiva.com/cdn-cgi/image/f=auto,w=auto,q=80,fit=contain/content/2018/09/18/1537309101697/pinturas-frida-kahlo-columna-rota-medium.jpg" class="img-fluid" alt="Fourth Album Photo">
                <div class="carousel-caption d-none d-md-block">
                    <h3> La columna rota (1944)</h3>
                    <p></p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="https://img.culturacolectiva.com/cdn-cgi/image/f=auto,w=auto,q=80,fit=contain/content/2018/09/18/1537308945488/pinturas-frida-kahlo-sin-esperanza-medium.jpg" class="img-fluid" alt="Third Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>Sin esperanza (1945)</h3>
                    <p></p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="https://img.culturacolectiva.com/cdn-cgi/image/f=auto,w=auto,q=80,fit=contain/content/2018/09/18/1537309261915/pinturas-frida-kahlo-las-dos-fridas-medium.jpg" class="img-fluid" alt="Third Album Photo">

                <div class="carousel-caption d-none d-md-block">
                    <h3>Las dos Fridas (1947)</h3>
{{> navbar}}